<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
    
    <!-- 搜索spring控件 -->
    <context:component-scan base-package="com.ise"></context:component-scan>
    
    <!-- 静态文件访问配置 -->
    <mvc:annotation-driven />
    <mvc:resources mapping="/resources/**" location="/resources/" />
    
    <bean class="com.ise.processor.InstantiationTracingBeanPostProcessor"/>
    <!-- 处理器映射器HandlerMapping -->  
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>    
    
    <!-- 拦截器 -->  
    <mvc:interceptors>  
        <!-- 多个拦截器，顺序执行 -->  
        <mvc:interceptor>  
            <mvc:mapping path="/**"/>  
            <bean class="com.ise.interceptor.LoginInterceptor"></bean>  
        </mvc:interceptor>  
    </mvc:interceptors> 
    
    <!-- 视图页面配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
    
    <!-- 使用内存数据库 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  
    destroy-method="close" abstract="false" scope="singleton" lazy-init="false">   
	    <property name="driverClass" value="org.apache.derby.jdbc.EmbeddedDriver" />  
	    <property name="jdbcUrl" value="jdbc:derby:D:\workspace\derby\Derby_data\thuminer;create=true" />  
	    <property name="checkoutTimeout" value="30000" />  
	    <property name="maxIdleTime" value="120" />  
	    <property name="maxPoolSize" value="10" />  
	    <property name="minPoolSize" value="1" />  
	    <property name="initialPoolSize" value="1" />  
	    <property name="maxStatements" value="0" />  
	    <property name="maxStatementsPerConnection" value="0" />  
	    <property name="idleConnectionTestPeriod" value="30" />  
	</bean> 
    
    <!-- 配置Jdbc模板 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
    
</beans>